body{
    background-color:hsl(217, 54%, 11%) ;
    font-family: 'Outfit', sans-serif;
}
.container{
    background-color: hsl(216, 50%, 16%);
    width:320px;
    margin: auto;
    margin-top: 80px;
    padding: 25px;
    border-radius:2%;
}
#main-nft{
    width: 320px;
    height: auto;
    text-align: center;
    border-radius: 2%;
}
.head{
    font-weight: 500;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}
.info{
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
}
.stuff h1{
    font-size: 18px;
    color:hsl(178, 100%, 50%);
}
.stuff p{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
   margin-left:110px ;
   margin-top: 13px;
   display:flex;
}
hr{
    clear:both;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.eth{
    float:left;
    margin-right: 5px;
}
.clock{
    float:left;
    margin-right: 3px;
}
.image-avatar{
    width:40px;
    margin-right: 10px;
    border: solid;
    border-color: white;
    border-radius: 50%;
    border-width: 1px;
    height: 40px;
}
.name{
    color:hsl(215, 51%, 70%);
    margin-top: 20px;
   margin-top: 12px;
}
.name a{
    color:white;
    margin-bottom: 0;
}
.stuff{
    display:flex;
}
.stuff p img{
    width:22.22px ;
}
.line{
    opacity: 20%;
    margin-bottom: 20px;
    margin-top: 0px;
}
.owner{
    display:flex;
}
.name a:hover{
    color:hsl(178, 100%, 50%);
}
.head:hover{
    color:hsl(178, 100%, 50%);
}